node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.env.local
.env.production
.nyc_output
coverage
.eslintrc.json
.prettierrc
.vscode
.DS_Store
logs
*.log
logs
*.log
docker-compose.yml
init.sql
